# ignore everything by default
*

# explicitly include the following
!.gitignore
!.vimrc
!.tmux.conf
!.git-completion.bash
!.zsh_mine
!.zshrc

.Rproj.user

# Supabase
**/supabase/.branches
**/supabase/.temp
